.matchProfiles{
    width: 100%;
    height: 500px;
    /* transform: translateX(700%); */
}

.profImageCont{
    width: 70%;
    height: 300px;

}

.profImage{
    width: 100%;
    height: 100%;
}

.profList{
    list-style: none;
}

.profilesOuterContainer{
    margin-top: 15%;
}

.profilesContainer{
    display: flex;
    /* flex-wrap: nowrap; */
    width: 450px;
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
}

.profImageCont:hover + .hoverDetails{
    position: absolute;
    display: block;
    background-color: aqua;
    width: 500px;
    height: 500px;
}

.hoverDetails{
    display: none;
}
