.matchProfiles{
    width: 500px;
    height: 500px;
}

.profImageCont{
    width: 70%;
    height: 300px;

}

.profImage{
    width: 100%;
    height: 100%;
}

.profList{
    list-style: none;
}

.profilesContainer{
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
}

.profImageCont:hover + .hoverDetails{
    position: absolute;
    display: block;
    background-color: aqua;
    width: 500px;
    height: 500px;
    margin-left: 1250px;
}

.hoverDetails{
    display: none;
}
