.NavBarContainer{
    display: grid;
    grid-template-columns: 86% 3% 6% 5%;
    height: 50px;
    list-style-type: none;
    background-color: rgb(238, 227, 213);
}

.logout{
    display: flex;
    justify-content: flex-end;
    margin-left: 150px;
}

.matches{
    margin-left: 80px;
}
