/* .NavBarContainer{
    display: grid;
    grid-template-columns: 81% 7% 7.5% 4%;
    height: 3vh;
    list-style-type: none;
    background-color: rgb(238, 227, 213);
} */

/* .test{
    background-color: aqua;
    height: 5em;
} */

.NavBarContainerHome{
    position: relative;
    display: grid;
    /* grid-template-columns: 9% 8% 8% 64% 7.5% 5%; */
    grid-template-columns: 7% 8% 8% 66% 6% 5%;
    grid-template-areas: "Home Demo1 Demo2 Dev Login Signup";
    height: 2.5rem;
    list-style-type: none;
    background-color: rgb(238, 227, 213);
}
/*
.logout{
    display: flex;
} */

/* .matches{
    margin-left: 80px;
} */

/* .bobaIcon{
    width: 8%;
    height: 70%;
    border: 1px solid black;
    background-color: rgba(51, 37, 21, 0.911);
    border-radius: 50%;
    margin-top: .2%;
} */

/* .bobaIconProfile{
    width: 1.1%;
    height: 50%;
    border: 1px solid black;
    background-color: rgba(51, 37, 21, 0.911);
    border-radius: 50%;
    margin-top: .4%;
} */

.navButton{
    grid-area: Home;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-height: 2em;
}

/* .navButtonProfile{
    display: flex;
    margin-left: -1%;
} */

.homeButton{
    /* background-color: aqua;
    width: 100%;
    grid-area: Home; */
    /* margin-top: .4%;
    margin-left: 3%; */
    font-size: 15px;
    text-decoration: underline;
    color: rgb(175, 121, 50);
    font-weight: 800;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* .linkWordsProfile{
    margin-top: .5%;
    margin-left: .5%;
    font-size: 15px;
    text-decoration: underline;
    color: rgb(175, 121, 50);
    font-weight: 800;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} */

/* .linkFindWords{
    text-decoration: underline;
    margin-top: .2%;
    margin-left: .2%;
    font-size: 15px;
    color: rgb(175, 121, 50);
    font-weight: 800;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} */

/* .bobaesLink{
    margin-top: 6%;
}

.matchesLink{
    margin-top: 5%;
}*/

.navLogin{
    grid-area: Login;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .8em;
    text-decoration: underline;
    color: rgb(175, 121, 50);
    font-weight: 800;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navSignup{
    grid-area: Signup;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .8em;
    text-decoration: underline;
    color: rgb(175, 121, 50);
    font-weight: 800;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.developedBy{
    grid-area: Dev;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    /* margin-top: .8%;
    margin-right: 23%; */
    /* padding-right: 18%;
    max-height: 2.5em; */
}

.demoButton{
    height: 5em;
    width: 6em;
    border-radius: 50%;
    background-color: rgb(154, 216, 125);
    font-size: .5em;
    font-weight: 800;
}

.demo1{
    grid-area: Demo1;
}

.demo2{
    grid-area: Demo2;
}
