body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.backgrounds{
    position: absolute;
    /* https://images.pexels.com/photos/5379707/pexels-photo-5379707.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260 */
    background-image: url("./bobaebackground.png");
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: blur(5px);
}
