.profileImage{
    border: 5px solid black;
    border-radius: 50%;
    width: 370px;
    height: 370px;
    overflow: hidden;
    z-index: 100;
    margin-left: 2%;
    margin-top: 2%;
}

.pImg{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.detailsTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    margin-left: 25%;
    margin-top: 4%;
    height:12%;
    max-width: 50%;
    font-weight: 800;
    border-radius: 25px;
    background-color: rgba(222, 184, 135, 0.411);
}

.preferenceTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    margin-left: 20%;
    height:12.5%;
    max-width: 50%;
    font-weight: 800;
    border-radius: 25px;
    background-color: rgba(222, 184, 135, 0.411);
}

.editInfo{
    position: relative;
    margin-left:19%;
    margin-top: 27%;
    height: 90px;
    width: 20%;
    border-radius: 25px;
    background-color: rgb(222, 184, 135);
    font-weight: bolder;
    font-size: 50px;
    z-index: 10000;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.438);
}

.editInfo:hover{
    position: relative;
    margin-left:19%;
    margin-top: 27%;
    height: 90px;
    width: 20%;
    border-radius: 50px;
    background-color: rgb(222, 184, 135);
    font-weight: bolder;
    font-size: 50px;
    z-index: 10000;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.438);
}

.editPref{
    position: relative;
    margin-top: -7%;
    margin-left:21%;
    height: 90px;
    width: 20%;
    border-radius: 25px;
    background-color: rgb(222, 184, 135);
    font-weight: bolder;
    font-size: 50px;
    z-index: 10000;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.438);
}

.editPref:hover{
    position: relative;
    margin-top: -7%;
    margin-left:21%;
    height: 90px;
    width: 20%;
    border-radius: 50px;
    background-color: rgb(222, 184, 135);
    font-weight: bolder;
    font-size: 50px;
    z-index: 10000;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.438);
}

.profileDetailsCont{
    display: grid;
    grid-template-areas:
    "info preferences";
    grid-template-columns: 50% 50%;
    position: absolute;
    border: 3px solid black;
    height: 85%;
    width: 90%;
    margin-left: 6%;
    margin-top: 4%;
    z-index: -100;
    background-color: rgba(253, 253, 253, 0.808);
    border-radius: 50px;
}

.leftContainer{
    grid-area: info;
    border-right: 2px dotted black;
    width: 100%;
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.rightContainer{
    grid-area: preferences;
    margin-top: 4%;
    margin-left: -5%;
    width: 96%;
    height: 96%;
    font-size: 160px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.profileDetails{
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    justify-content: space-evenly;
    height: 65%
}

.profileDetailsRight{
    display: flex;
    flex-direction: column;
    margin-left: 26%;
    justify-content: space-evenly;
    height: 65%
}

.userName{
    font-size: 50px;

}

.name{
    font-size: 50px;
}

.cityZip{
    font-size: 50px;
}

.age{
    font-size: 50px;
}

.height{
    font-size: 50px;
}

.backgroundImageContProfile{
    position: absolute;
    margin-top: -.5%;
    width: 101%;
    height: 96.8%;
}

.backgroundImageProfile{
    position: absolute;
    z-index: -100;
    filter: blur(5px);
    width: 100%;
    height: 100%;
    object-fit: fill;
}
