.matchImageCont{
    width: 40%;
    height: 80%;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 50%;
}

.profImage{
    width: 100%;
    height: 100%;
}

.matchRectangle{
    display: grid;
    grid-template-areas:
    "User Interest Extra"
    "User Interest Button";
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 90% 10%;
    border-bottom: 3px solid black;
    min-height: 30%;
}

.userDetails{
    grid-area: User;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-height: 100%;
    border-right:3px solid black;
}

.matchUserInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: 10%;
    font-size: 1.3vw;
    height: 100%;
}

.userPreferences{
    grid-area: Interest;
    display: flex;
    font-size: 30px;
    width: 100%;
}

.bobaPrefTitle{
    font-size: 2vw;
    width: 100%;
    padding-left: 3%;
}

.matchPrefDetails{
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 75%;
    font-size: 60%;
}

.matchHolder{
    width: 65%;
    border-right: 5px solid black;
    border-left: 5px solid black;
    background-color: rgba(255, 255, 255, 0.781);
    overflow-y: auto;
    position: absolute;
    height: 100vh;
    left: 50%;
    transform: translate(-50%, 0);
}

.matchPrefExtraDetails{
    grid-area: Extra;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5vw;
    padding-top: 3%;
    padding-left: 3%;
    margin-left: 5%;
    border-left: 1px dotted black;
}

.yourBobaesTitle{
    display: flex;
    justify-content: center;
    font-size: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    padding-bottom: 2%;
    border-bottom: 3px solid black;
    padding-top: 2%;
}

.DeleteArea{
    grid-area: Button;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
}
